/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
guia_rubi.sql
API_Guia_Rubi.rar
API_Guia_Rubi.zip